@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.task-enter {
  animation: slideIn 0.5s forwards;
}

.task-exit {
  animation: slideOut 0.5s forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(50px); /* Adds a slight slide effect */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50px); /* Adds a slight slide effect */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Tailwind custom animations */
.animate-fadeOut {
  animation: fadeOut 0.5s forwards;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}